body {
  letter-spacing: 0.7px;
  background-color: #eee
}


p {
  font-size: 14px
}

.btn-primary {
  background-color: #42A5F5 !important;
  border-color: #42A5F5 !important
}

.cursor-pointer {
  cursor: pointer;
  color: #42A5F5
}

.mt-4{
  margin-bottom:5vh;
  margin-top:0;
  padding-top:0;
}

.irc_mut{
margin:auto;
padding-left:0;
padding-right:0;

}
.pic {
  margin-top: 30px;
  margin-bottom: 20px
}

.card-block {
  width: 200px;
  border: 1px solid lightgrey;
  border-radius: 5px !important;
  background-color: #FAFAFA;
  margin-bottom: 30px
}

.card-body.show {
  display: block
}

.card {
  padding-bottom: 20px;
  box-shadow: 2px 2px 6px 0px rgb(200, 167, 216)
}

.radio {
  display: inline-block;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  color: #000;
  font-weight: 500;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%)
}

.radio:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1)
}

.radio.selected {
  box-shadow: 0px 8px 16px 0px #EEEEEE;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
  border: 1px solid orange ;
  
}

.selected {
  background-color: #E0F2F1
}

.a {
  justify-content: center !important
}

.btn {
  border-radius: 0px
}

.btn,
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important
}
html {
  font: 14px/1.4 Sans-Serif;
}
.input_padrao{
  width:30%;
}
.tabelas{
  margin:auto;
  width:80%
}
@media only screen and (max-width: 800px) {
  .row {
    display:grid;
  }
}
form {
  
  float: left;
  margin: 20px;
}
form > div {
  position: relative;
  overflow: hidden;
}
form input, form textarea {
  width: 100%;
  border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
  border-radius: 5px;
}

form input:disabled, form textarea:disabled {
  background-color: lightgrey;
  opacity: 0.5;
}

form input:valid, form textarea:valid {
  background: white;
  
}
input:focus, textarea:focus {
  border-color: #f06d06;
}

.form-control:focus {
  border: 3px solid #f06d06;
  box-shadow: 2px 2px #e96f05;
  
}

input:placeholder-shown:disabled{
  box-shadow: 0px 0px 0px 0px red;
}

input:placeholder-shown, textarea:placeholder-shown{
  box-shadow: 0px 0px 1px 1px red;
}

input:not(:placeholder-shown):not(disabled), textarea:not(:placeholder-shown){
  box-shadow: 0px 0px 1px 1px green;
}

form input:focus + label, form textarea:focus + label {
  background: #f06d06;
  color: white;
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
  border-radius: 5px;
}
form label {
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
}
form textarea {
  display: block;
  resize: vertical;
}

form.go-right label {
  top: 2px;
  right: 100%;
  width: 100%;
  margin-right: -100%;
  bottom: 2px;
}
form.go-right input:focus + label, form.go-right textarea:focus + label {
  right: 0;
  margin-right: 0;
  width: 40%;
  padding-top: 5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 8px;
  white-space: nowrap;
  width:200px;
}

tr:nth-child(even){background-color: #f2f2f2}

body {
  background-color: #e3e3e3;
  max-width: 100%;
  overflow-x: hidden;
  
}

  .star {
    max-width: 20%;
    display: block;
    margin: auto;
    background-color: transparent;
  }

.container {
  max-width: 95%;
}
.row {
  margin-bottom: 20px;
}
.survey-header {
  background-color: rgb(255, 255, 255);
}

.survey-body, .welcome-body {
  padding: 30px 30px 30px 30px !important;
  background-color: rgb(255, 255, 255);
}

.survey-body {
  display: none
}

.welcome-text, .welcome-img {
  max-width: 100%;
  
}

.conjunto {
  display:flex;
  justify-content: space-between;
  background-color: white;
}

 .welcome-img {
  max-width: 80%;
  margin-right: 10%;
  margin-left: 10%;
} 

.orange-bar {
  padding: 5px !important;
  background-color: #e96f05;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin:auto;
}

.question {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.answer {
  max-width: 70%;
}

.mb-3 {
  padding: 10px !important
}

.destaque-red {
  color: red
}
.destaque-white {
  color: white
}

li{
  margin-bottom:2vh;
}

.sub-question {
  padding-left: 30px;
  margin-bottom: 15px;
  font-size: 14px;
}

.caixa {
  border-radius:4px;
  border: 0px solid grey;
  box-shadow: 0 1px 6px grey, 0 1px 4px #e4610f; 
  padding:2vh;
  padding-top:1vh;
  margin-bottom:5vh;
}

.select {
  padding: 0px 0px 0px 35px !important;
}
#btn-send-survey, #btn-init-survey {
  background:linear-gradient(to bottom, #e96f05 5%, #e08a48 100%);
	background-color:#e96f05;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
#btn-send-survey:hover, #btn-init-survey:hover {
  background:linear-gradient(to bottom, #e08a48 5%, #e96f05 100%);
	background-color:#e08a48;
}

#btn-send-survey:active, #btn-init-survey:active {
	position:relative;
	top:1px;
}
.footer {
  padding: 50px 0px 10px 0px;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}



/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(209, 199, 199, 0.591);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: #e96f05 1.5em 0 0 0, #e96f05 1.1em 1.1em 0 0, #e96f05 0 1.5em 0 0, #e96f05 -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, #e96f05 0 -1.5em 0 0, #e96f05 1.1em -1.1em 0 0;
  box-shadow: #e96f05 1.5em 0 0 0, #e96f05 1.1em 1.1em 0 0, #e96f05 0 1.5em 0 0, #e96f05 -1.1em 1.1em 0 0, #e96f05 -1.5em 0 0 0, #e96f05 -1.1em -1.1em 0 0, #e96f05 0 -1.5em 0 0, #e96f05 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

